// Your Wifi Credentials :
#define WIFI_AP             "YOUR-WIFI-SSID"
#define WIFI_PASSWORD       "YOUR-WIFI-PASSWORD"

// See https://thingsboard.io/docs/getting-started-guides/helloworld/
// to understand how to obtain an access token
#define TOKEN               "YOUR-DEVICE-ACCESS-TOKEN"
#define THINGSBOARD_SERVER  "YOUR-THINGBOARD-SERVER"
